In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import os

In [4]:
games_csv_files = os.listdir('games')

In [5]:
path = f"games/{games_csv_files[0]}"
game_df = pd.read_csv(path)

In [6]:
game_df.head()

,assists,baronKills,bountyLevel,challenges,champExperience,champLevel,championId,championName,championTransform,consumablesPurchased,...,turretTakedowns,turretsLost,unrealKills,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win,player_name,player_details
0,25,2,1,"{'12AssistStreakCount': 0, 'abilityUses': 545,...",19162,18,20,Nunu,0,3,...,4,5,0,27,3,5,5,True,NaN,"{'status': {'message': 'Rate limit exceeded', ..."
1,16,0,1,"{'12AssistStreakCount': 0, 'abilityUses': 311,...",18359,17,62,MonkeyKing,0,2,...,5,5,0,24,0,2,13,True,NaN,"{'status': {'message': 'Rate limit exceeded', ..."
2,6,0,0,"{'12AssistStreakCount': 0, 'abilityUses': 435,...",20187,18,38,Kassadin,0,4,...,3,5,0,36,2,1,14,True,NaN,"{'status': {'message': 'Rate limit exceeded', ..."
3,13,0,2,"{'12AssistStreakCount': 0, 'abilityUses': 146,...",16673,17,51,Caitlyn,0,5,...,3,5,0,25,1,3,13,True,NaN,"{'status': {'message': 'Rate limit exceeded', ..."
4,27,0,0,"{'12AssistStreakCount': 2, 'abilityUses': 282,...",15218,16,117,Lulu,0,7,...,4,5,0,69,5,3,25,True,NaN,"{'status': {'message': 'Rate limit exceeded', ..."

In [8]:
game_df = game_df.convert_dtypes()

In [9]:
game_df.describe()

,assists,baronKills,bountyLevel,champExperience,champLevel,championId,championTransform,consumablesPurchased,damageDealtToBuildings,damageDealtToObjectives,...,turretKills,turretTakedowns,turretsLost,unrealKills,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win,player_name
count,10.00000,10.000000,10.000000,10.000000,10.00000,10.00000,10.0,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.0,10.000000,10.000000,10.000000,10.000000,10,0
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
mean,12.80000,0.200000,0.400000,17159.300000,16.70000,63.00000,0.0,4.200000,3231.700000,15189.900000,...,1.500000,2.400000,8.000000,0.0,30.100000,1.700000,2.700000,12.600000,NaN,<NA>
std,7.91342,0.632456,0.699206,2356.785666,1.05935,45.53875,0.0,2.740641,3913.872707,11551.168574,...,1.779513,2.170509,3.162278,0.0,19.330172,1.567021,1.636392,8.030497,NaN,<NA>
min,5.00000,0.000000,0.000000,14371.000000,15.00000,19.00000,0.0,0.000000,41.000000,1447.000000,...,0.000000,0.000000,5.000000,0.0,12.000000,0.000000,1.000000,2.000000,NaN,<NA>
25%,6.00000,0.000000,0.000000,15387.000000,16.00000,26.75000,0.0,2.250000,577.500000,9784.750000,...,0.000000,0.000000,5.000000,0.0,16.000000,1.000000,2.000000,7.500000,NaN,<NA>
50%,12.00000,0.000000,0.000000,16209.000000,16.50000,52.50000,0.0,3.500000,1968.500000,12883.500000,...,1.000000,3.000000,8.000000,0.0,24.500000,1.000000,2.000000,12.000000,NaN,<NA>
75%,15.25000,0.000000,0.750000,18961.250000,17.75000,82.25000,0.0,6.500000,4055.000000,20102.750000,...,2.000000,4.000000,11.000000,0.0,33.750000,2.750000,3.000000,13.750000,NaN,<NA>
max,27.00000,2.000000,2.000000,21082.000000,18.00000,157.00000,0.0,8.000000,12683.000000,40159.000000,...,5.000000,5.000000,11.000000,0.0,69.000000,5.000000,6.000000,27.000000,NaN,<NA>